<!-- Views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/css/homePage.css">
  </head>
  <body>
    <img id="bg-img" src="/Image/Image-1.jpg" alt="">

    <%- include('header');%>

    <div id="mainDiv">
    
      <!-- <div id="quote_container">
        <p id="quote">To change your life change your habits!!!</p>
      </div>  -->


      <div class="frame">
        <div class="circle"></div>
        <div class="line left"></div>
        <div class="line right"></div>
        <div class="bracket left"></div>
        <div class="bracket right"></div>
        <!-- <div class="small top first-letter">To change</div>
        <div class="big">your life</div>
        <div class="small bottom first-letter"> habits!!! </div>
        <div class="small bottom first-letter bottom1"> change your </div> -->

        <div class="small top first-letter">Welcome to</div>
        <div class="big">Habits tracker</div>
        <div class="small bottom first-letter"> Application </div>
        <!-- <div class="small bottom first-letter bottom1"> App </div> -->

        <div class="hide top"></div>
        <div class="hide bottom"></div>
      </div>



      <form action="/habitPage" method="get">
          <button class="btn">
            <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
                <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
            </svg>
        
            <span class="text">  Start </span>
          </button>
      </form>

  </div>

  <%- include('footer');%>
  </body>
</html>
